<div class='well'>
  <div class='row'>
    <div class='col-xs-1'>
      <img src={{user.avatar_url}} style="width: 35px; margin-top: 10px;" class='img-rounded'/>
    </div>
    <div class='col-xs-11'>
      {{textarea valueBinding='text' placeholder="What's happening?" class='form-control'}}
      <div class='text-right' style='margin-top: 10px;'>
        <span class={{remainingCounterClass}} style='padding-right: 10px'>{{remainingCounter}}</span>
        <button class='btn btn-primary' disabled={{submitDisabled}} {{action 'submit'}}>
          {{fa-icon 'pencil-square-o'}}
          Tweet
        </button>
      </div>
    </div>
  </div>
</div>